.admin-interface {
  ul.nav-pills>li>a {
    min-width: initial;
    padding: 10px 20px;
  }
}
.admin-contents {
  margin: 0 !important;
}

.admin-container {
  .customize .current-style .toggle-maximize {
    right: 21px;
  }
}