@import "theme_variables";

#list-area {
    footer {
        h3 {
            text-align: center;
            margin-top: 50px;
        }
    }
}
.category-list, #list-area {
    .has-logo {
        .category-logo {
            display: none;
        }   
    }
}
.category-list tbody {
    .latest {
        padding-right: 70px;
        a {
            color: #131313;
            font-weight: 600;
            &:hover {
                color: #00aeef;
            }
        }
    }
    .category {
        border-left: 10px solid;
        border-color: inherit;
        padding: 38px 0 30px 23px;
        h3 {
            font-size: 1.429em;
        }
        .category-description {
            line-height: 22px;
        }
    }
    .subcategories {
        margin-top: 20px;
    }
    tr td {
        border-bottom: 1px solid;
        border-bottom-color: #eee !important;
    }
    tr:last-of-type {
        border-bottom: none;
        .category {
            border-bottom-left-radius: 8px;
        }
    }
    .topics:not(:first-of-type) {
        padding-top: 12px;
    }
}

table.category-list, table.topic-list, .search-container > .ember-view  {
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
    border-radius: 8px;
    background-color: white;
}

table.topic-list {
    &.with-topics {
        thead {
            display: none;
        }
    }
    th {
        color: #949494;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        padding-top: 40px;
        padding-bottom: 20px;
    }
    th:first-of-type, td:first-of-type {
        padding-left: 20px;
    }
    td {
        padding: 17px 5px;
        line-height: 30px;
        &:first-of-type {
            padding-right: 15px;
        }
    }
    >tbody>tr:first-of-type {
        box-shadow: none;
        border-top: none;
    }
    tr:last-of-type td {
        padding-bottom: 70px;
    }
}


.no-topics td h3{
    text-align: center;
    margin-top: 40px;
}

.category-list {
    border-collapse: separate;
    .featured-topic {
        height: 32px;
        &:first-of-type {
            margin-top: 8px
        }
        .last-user-info {
            display: none;
        }
        .featured-topic-desc {
            top: 5px;
            position: relative;
        }
        .topic-statuses {
            position: relative;
            top: 4px;
        }
    }
    .fa-angle-right {
        position: relative;
        top: -1px;
        color: $tertiary;
        margin-left: 12px;
        font-weight: 700;
    }
    .subcategory {
        display: inline-block;
        .badge-wrapper.bullet {
            padding: 0 15px;
            height: 27px;
            text-align: center;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 3px;

            .badge-category-bg {
                display: none;
            }
            
            .badge-category {
                color: white !important;
                z-index: 2;
                position: relative;
            }
        }
    }
}

.topic-list-item {
    .badge-wrapper.bullet {
        background-color: transparent !important;
    }
}

body:not(.categories-list) {
    .list-container {
        .row {
            &:first-of-type:not(:last-of-type) {
                margin-bottom: 0
            }
        }
    }
}

.list-container {
    .row {
        &:first-of-type:not(:last-of-type) {
            margin-bottom: 20px;
        }
    }
}

table, table.category-list, table.category-list.with-topics {
    thead {
        th {
            border-bottom: 1px solid #eeeeee;
            color: #949494;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            &:first-of-type {
                padding-left: 33px;
            }
        }
    }
}

.topic-statuses {
    .fa-thumb-tack:before {
        font-size: 14px;        
    }
}
.title-wrapper {
    .fa-thumb-tack:before {
        font-size: 34px;
    }
}

.category-notification-menu .dropdown-menu, .tags-admin-menu .dropdown-menu {
    top: 41px;
}

html.anon .topic-list a.title:visited:not(.badge-notification), .topic-list a.title.visited:not(.badge-notification) {
    color: $primary;
}

// Topic icon before avatar (like lock, when post is locked)
.small-action .topic-avatar i {
    font-size: inherit;
    line-height: 34px;
}