header {
  #search-button {
    border-radius: 25px;
    height: 43px;
    width: 43px;
    box-sizing: border-box;
    padding: 5px !important;    
    transition: width 0.3s ease, background-color 0.2s ease, border 0.2s ease;
    border: 1px solid transparent !important;
    &:hover {
      border: 1px solid #22d56c !important;
    }
    i {
      float: left;
    }    
    &:after {
      content: '';
    }
  }

  .header-dropdown-toggle.active {
    &:first-of-type {
      .icon:after {
        border: none !important;
      }
      #search-button {
        width: 420px;
        border: 1px solid #22d56c !important;
        &:after {
          content: '×';
          display: block;
          position: absolute;
          left: 383px;
          top: 5px;
          width: 30px;
          height: 30px;
          font-size: 27px;
          line-height: 30px;
          color: #c4c8d1;
          opacity: 0;
          cursor: pointer;
          animation: search-fadeIn .3s forwards .3s; 
        }
      }
    }
  }

  #search-button.results-loaded {
    // 25px at start.
    // Cuz of 0 bottom radius the look of border changes.
    // By trial and error approach, 21px looks fine. 
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  [data-click-outside].search-menu {
    right: 0;
  }
  .search-menu {    
    width: 420px;
    .menu-panel {
      box-sizing: border-box;
      top: -60px !important;
      height: 60px !important;
      right: 40px;
      padding: 14px 0;
      width: 380px !important;
      background-color: transparent;
      border: none;
      box-shadow: none;
      // animation: search-slidein .3s;      
      .panel-body {
        overflow: visible;
        height: 100% !important;
        .panel-body-contents {
          height: 100% !important;
          padding: 0 30px;          
        }
      }
      .search-context {
        display: none;
      }
      .results {
        position: absolute;
        background-color: white;
        border-bottom-left-radius: 18px;
        border-bottom-right-radius: 18px;
        padding: 10px 15px 15px 0;
        box-shadow: 0 10px 20px rgba(0,0,0,0.1);
        top: 51px;
        left: 0;
        width: 420px;
        box-sizing: border-box;
        border-top: 1px solid rgba(0,0,0,0.1);
        border-bottom: 1px solid #22d56c;
        border-left: 1px solid #22d56c;
        border-right: 1px solid #22d56c;
        animation: none;
        .no-results {
          padding: 10px 0 0 0;
        }
        .spinner, .no-results {
          animation: none;
        }
        .search-link {
          padding-top: 13px;
          .topic-title {
            font-size: 15px;
            font-weight: 400;
          }
          .blurb {
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
          }
        }        
        .fa-chevron-down:before{
          position: relative;
          top: 2px;
        }
      }
      .searching {
        top: 4px;
        right: 0;
      }
    }
  }
  .panel.logged {
    .search-menu {
      .menu-panel {
        right: 100px;
      }
    }
  }
  .search-link .fa-lock:before {
    font-size: 13px;
  }
}

header .search-menu .menu-panel, .search.row {
  input#search-term, input.full-page-search{
    box-sizing: border-box;
    margin: 0;
    height: 32px;
    line-height: 32px;  
    outline: none;
    border-radius: 18px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    padding: 0 10px 0 14px;      
    opacity: 0;
    animation: search-fadeIn .3s forwards .2s; 
    &:placeholder {
      color: #a3a3a3;
      font-size: 14px;
    }
    &:active,
    &:focus {
      outline: none;
      // border: 1px solid #22d56c;
      // box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.12);
    }
  }
}
header .search-menu .menu-panel input {
  width: 100%;
}
/** /search?expanded=true **/
.search-container {
  .search.row {
    input.full-page-search {
      margin-bottom: 10px;
    }      
  }
  
  .fa-lock:before {
    font-size: 14px;
  }
  
  .search-category .badge-wrapper.bullet {
    background-color: transparent !important;
  }
  
  .search-advanced-options {
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 15px 20px rgba(0,0,0,0.1);
  }

  .search-title {
    border-bottom: none;
  }    
  > .ember-view {
    padding: 20px 25px 40px 25px;
  }
  .search-footer {
    margin-top: 20px;
  }
}


@keyframes search-fadeIn {
    from { 
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}