.user-navigation,
.user-preferences {
  padding-left: 0;
  padding-right: 40px;
}

.user-main {
  background: white;
  padding: 30px 20px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  .controls {
    .fa:before {
      font-size: 15px;
    }
  }

  .about.collapsed-info .details {
    border-bottom: 0;
  }

  .user-stream {
    .avatar-link {
      margin-right: 17px;
      margin-bottom: 20px;
    }
    .title {
      margin-bottom: 3px;
      font-size: 16px;
    }
    .excerpt {
      color: #131313;
      font-size: 16px;
      line-height: 26px;
    }
    .time {
      color: #949494;
      font-size: 13px;
    }
  }

  .nav-stacked li>a {
    padding: 10px 13px;
  }

  .about .secondary {
    margin-bottom: 10px;
  }
  .user-content .user-invite-controls {
    height: 43px;
    padding: 5px 10px 5px 0;
  }
  table.topic-list {
    box-shadow: none;
  }

  ul.nav.nav-pills {
    background-color: $tertiary;
  }
  /* menu nawigacyjne */
  ul.nav-pills > li,
  .user-main .nav-pills {
    a,
    a i:before {
      color: white;
    }
  }
  ul.nav-pills > li.active > a,
  ul.nav-pills > li > a.active,
  .admin-controls .nav.nav-pills li.active a {
    color: black;
    background-color: white !important;
    &:hover,
    i:before {
      color: black;
    }
  }

  ul.nav-pills > li:not(.active),
  ul.nav-pills > li > a:not(.active) {
    &:hover {
      background-color: white;
      color: black;
      i:before {
        color: black;
      }
    }
  }
}

.user-nav {
  .fa {
    margin-right: 6px;
    &:before {
      font-size: 17px;
    }    
  }  
}
