.mobile-view {
  .subcategories {
    .badge-wrapper.bullet {
        background-color: transparent !important;
    }
  }
  
  .category-list-item {
    margin-bottom: 25px;
    border-radius: 8px;
    > footer {
      display: none;
    }
  }

  .categories-list .category-list {
    margin-left: 0;
  }

  table.topic-list tr:last-of-type td {
    padding-bottom: 20px;
  }
}