.mobile-view {
  #site-logo {
    width: 113px;
  }  
  #indoorway-nav {
    display: none;
  }
  .d-header {
    .back-home {
      display: none;
    }
    .title {
      max-width: 100%;
    }
  }
  #main-outlet {
    padding-top: 180px;
  }
  header [data-click-outside] .menu-panel {    
    width: 100% !important;
    max-width: 359px !important;
    padding: 0;
  }
}