$primary: #404040;
$secondary: #ffffff;
$tertiary: #1dafec;
$quaternary: #00aeef;
$header_background: #ffffff;
$header_primary: #404040;
$highlight: #ffff4d;
$danger: #e45735;
$success: #22d56c;
$love: #fa6c8d